<!DOCTYPE html>
<html class="html-size">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hide-scroll">
    <div class="preloader " id="prog">
        <div class='progress-preload' id="progress_div">
            <div class='bar' id='bar1'></div>
            <div class='percent' id='percent1'></div>
        </div>
        <input type="hidden" id="progress_width" value="0">
        <div class="row">
            <div class="col-xs-12" id="preloader-image-div">
                <img src="@Url.Content("~/Content/Images/happy_kids.gif")" id="preloader-image" />
            </div>
        </div>
    </div>

    <div class="animated header">
        <div class="container header-buttons-container">
            <div class="row">
                <div class="header-button-div">
                    <a class="header-button" id="about-link" href="#">About</a>
                    <div class="header-button-line" id="about-line"></div>
                </div>
                <div class="drpdown">
                    <a href="#" class="header-button dropdown-button">Helping</a>
                    <span id="dropdown-arrow"></span>
                    <div class="drpdown-menu row">
                        <div class="col-xs-12 indent-dropdown"></div>
                        <div class="col-xs-12 indent-dropdown"></div>
                        <div class="col-xs-10 col-xs-offset-2">
                            <span class="drpdown-link">
                                <a class="semibold-text green" href="#">&nbsp;&nbsp;Orphans</a>
                            </span>
                        </div>
                        <div class="col-xs-12 indent-dropdown"></div>
                        <div class="col-xs-12">
                            <span class="drpdown-link">
                                <a class="semibold-text green" href="#">&nbsp;&nbsp;At-risk families</a>
                            </span>
                        </div>
                        <div class="col-xs-12 indent-dropdown"></div>
                        <div class="col-xs-12">
                            <span class="drpdown-link">
                                <a class="semibold-text green" href="#">&nbsp;&nbsp;Social adaptation</a>
                            </span>
                        </div>
                        <div class="col-xs-12 indent-dropdown"></div>
                        <div class="col-xs-12">
                            <span class="drpdown-link">
                                <a class="semibold-text green" href="#">&nbsp;&nbsp;Limited abilities</a>
                            </span>
                        </div>
                        <div class="col-xs-12 indent-dropdown"></div>
                        <div class="col-xs-12">
                            <span class="drpdown-link">
                                <a class="semibold-text green" href="#">&nbsp;&nbsp;Camps</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="header-button-div">
                    <a class="header-button" href="#">News</a>
                    <div class="header-button-line"></div>
                </div>
                <div class="header-button-div">
                    <a class="header-button" href="#">Gallery</a>
                    <div class="header-button-line"></div>
                </div>
                <div class="header-button-div">
                    <a class="header-button" href="/en/home/contacts">Contacts</a>
                    <div class="header-button-line"></div>
                </div>
                <div class="header-button-div">
                    <a class="share-button" href="#">Support kids</a>
                </div>
                <div class="header-button-lang">
                    <div class="drop-down">
                        <input class="drop-down-toggle" type="text">
                        <div class="drop-down-text">eng</div>
                        <ul class="drop-down-content header-lang">
                            <li><a href="@ViewBag.lang">rus</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left-panel">
        <div class="left-panel-language">
            <div class="drop-down">
                <input class="drop-down-toggle" type="text">
                <div class="drop-down-text">eng</div>
                <ul class="drop-down-content">
                    <li><a href="@ViewBag.lang">rus</a></li>
                </ul>
            </div>
        </div>
        <div class="left-panel-menu">

            <div class="positionize-left-memu">
                <div class="col-xs-12">
                    <a class="intro-menu-text green" href="#">About</a>
                </div>
                <div class="indent-menu"></div>
                <div class="col-xs-12 column">
                    <div class="drop-down-left">
                        <input class="drop-down-toggle-left" onclick="ShowDropDown()" type="text">
                        <div class="drop-down-text-left" onclick="ShowDropDown()">Helping</div>
                        <span id="dropdown-arrow-left"></span>
                        <ul class="drop-down-content-left dropup-height">
                            <li><a class="left-panel-link" href="#">Orphans</a></li>
                            <li><a class="left-panel-link" href="#">At-risk families</a></li>
                            <li><a class="left-panel-link" href="#">Social adaptation</a></li>
                            <li><a class="left-panel-link" href="#">Limited abilities</a></li>
                            <li><a class="left-panel-link" href="#">Camps</a></li>
                        </ul>
                    </div>

                </div>
                <div class="indent-menu-for-dropdown" id="indent-menu-for-dropdown"></div>
                <div class="col-xs-12">
                    <a class="intro-menu-text green" href="#">News</a>
                </div>
                <div class="indent-menu"></div>
                <div class="col-xs-12">
                    <a class="intro-menu-text green" href="#">Gallery</a>
                </div>
                <div class="indent-menu"></div>
                <div class="col-xs-12">
                    <a class="intro-menu-text green" href="/en/home/contacts">Contacts</a>
                </div>
                <div class="indent-menu"></div>
                <div class="col-xs-12">
                    <a class="intro-menu-text green" href="#">Support kids</a>
                </div>
            </div>
        </div>
        <div class="left-panel-right-menu">
            <div class="spinner-master2">
                <input type="checkbox" id="spinner-form2" />
                <label for="spinner-form2" class="spinner-spin2 spinner animated hide-gamburger">
                    <div class="spinner2 diagonal part-1"></div>
                    <div class="spinner2 horizontal"></div>
                    <div class="spinner2 diagonal part-2"></div>
                </label>
            </div>
            <div class="logo-div">
                <a href="@Url.Content("/en/Home/Main")">
                    <img src="@Url.Content("~/Content/Images/logo.png")" id="logo" />
                </a>
            </div>
            <div class="col-xs-12 social">
                <div class="col-xs-12">
                    <a href="https://www.facebook.com/opendoorsfund/" class="social-img">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="25px" height="25px" viewBox="0 0 96.227 96.227" style="enable-background:new 0 0 30 30; fill:#6e644d;"
                             xml:space="preserve">
                        <g>
                        <path d="M73.099,15.973l-9.058,0.004c-7.102,0-8.477,3.375-8.477,8.328v10.921h16.938l-0.006,17.106H55.564v43.895H37.897V52.332
		                        h-14.77V35.226h14.77V22.612C37.897,7.972,46.84,0,59.9,0L73.1,0.021L73.099,15.973L73.099,15.973z" />
                        </g>
                    </svg>
                    </a>
                </div>
                <div class="col-xs-12">
                    <a href="https://www.youtube.com/channel/UCM5h8RAS_S2V6dgAxrquYUw" class="social-img">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="25px" height="25px" viewBox="0 0 310 310" style="enable-background:new 0 0 310 310; fill:#6e644d;" xml:space="preserve">
                        <g id="XMLID_822_">
                        <path id="XMLID_823_" d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938
		                    C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527
		                    C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991
		                    c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764
		                    c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861
		                    C204.394,157.263,202.325,160.684,199.021,162.41z" />
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="col-xs-12">
                    <a class="social-img" href="https://vk.com/opendoorsukraine">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="25px" height="25px" viewBox="0 0 532.337 532.337" style="enable-background:new 0 0 532.337 532.337; fill:#6e644d;"
                             xml:space="preserve">
                        <g>
                        <g>
                        <path d="M471.998,241.286c7.57-9.786,13.58-17.638,18.018-23.562c31.965-42.498,45.82-69.646,41.574-81.482l-1.666-2.772
                        			c-1.107-1.665-3.977-3.194-8.592-4.578c-4.621-1.383-10.533-1.604-17.736-0.691l-79.822,0.563
                        			c-1.848-0.184-3.697-0.141-5.545,0.128c-1.848,0.281-3.047,0.563-3.605,0.832c-0.557,0.282-1.016,0.508-1.383,0.692l-1.107,0.832
                        			c-0.924,0.551-1.939,1.524-3.047,2.914c-1.109,1.389-2.039,2.999-2.773,4.853c-8.684,22.356-18.568,43.146-29.656,62.363
                        			c-6.838,11.457-13.123,21.396-18.844,29.792c-5.729,8.415-10.533,14.603-14.414,18.568c-3.879,3.972-7.393,7.166-10.531,9.56
                        			c-3.146,2.411-5.545,3.421-7.203,3.054c-1.666-0.367-3.238-0.734-4.713-1.114c-2.588-1.658-4.67-3.917-6.236-6.787
                        			c-1.572-2.857-2.631-6.463-3.189-10.808c-0.551-4.339-0.881-8.084-0.967-11.23c-0.098-3.139-0.049-7.57,0.141-13.305
                        			c0.184-5.729,0.275-9.602,0.275-11.64c0-7.014,0.141-14.639,0.418-22.864c0.275-8.219,0.508-14.737,0.691-19.542
                        			c0.184-4.798,0.275-9.884,0.275-15.245c0-5.349-0.324-9.56-0.975-12.613c-0.648-3.042-1.621-5.998-2.906-8.868
                        			c-1.297-2.858-3.189-5.08-5.686-6.646c-2.496-1.573-5.588-2.815-9.283-3.746c-9.799-2.222-22.271-3.409-37.418-3.604
                        			c-34.37-0.355-56.451,1.86-66.243,6.658c-3.88,2.038-7.393,4.804-10.532,8.317c-3.329,4.07-3.788,6.291-1.383,6.646
                        			c11.089,1.665,18.936,5.643,23.556,11.922l1.665,3.323c1.291,2.411,2.583,6.659,3.88,12.754c1.292,6.096,2.124,12.84,2.497,20.233
                        			c0.924,13.488,0.924,25.031,0,34.646c-0.924,9.614-1.799,17.093-2.631,22.442c-0.833,5.361-2.081,9.7-3.74,13.023
                        			c-1.665,3.335-2.772,5.367-3.329,6.107c-0.557,0.734-1.016,1.199-1.383,1.384c-2.405,0.918-4.896,1.383-7.484,1.383
                        			c-2.589,0-5.729-1.298-9.425-3.887c-3.697-2.576-7.534-6.138-11.5-10.667c-3.978-4.522-8.452-10.856-13.446-18.99
                        			c-4.988-8.121-10.166-17.736-15.521-28.819l-4.431-8.042c-2.772-5.165-6.561-12.699-11.365-22.583s-9.058-19.443-12.748-28.69
                        			c-1.481-3.874-3.697-6.83-6.652-8.868l-1.383-0.832c-0.924-0.735-2.405-1.524-4.437-2.351c-2.038-0.832-4.155-1.432-6.377-1.805
                        			l-75.943,0.551c-7.76,0-13.023,1.763-15.795,5.275l-1.108,1.659C0.275,136.059,0,137.54,0,139.566
                        			c0,2.038,0.557,4.529,1.665,7.479c11.089,26.059,23.146,51.188,36.169,75.386c13.03,24.211,24.346,43.709,33.954,58.489
                        			c9.608,14.792,19.4,28.733,29.382,41.854c9.982,13.121,16.585,21.523,19.816,25.214c3.231,3.703,5.771,6.476,7.62,8.317
                        			l6.928,6.658c4.431,4.432,10.949,9.743,19.542,15.937c8.592,6.193,18.103,12.289,28.55,18.287
                        			c10.435,6.01,22.589,10.899,36.444,14.694c13.856,3.794,27.344,5.317,40.465,4.571h31.874c6.469-0.551,11.363-2.576,14.688-6.096
                        			l1.107-1.383c0.734-1.102,1.432-2.815,2.08-5.123c0.643-2.307,0.975-4.853,0.975-7.619c-0.191-7.943,0.416-15.116,1.799-21.481
                        			c1.383-6.377,2.955-11.175,4.713-14.418c1.756-3.226,3.738-5.955,5.959-8.177c2.217-2.222,3.783-3.55,4.713-4.015
                        			c0.924-0.453,1.666-0.777,2.217-0.973c4.43-1.476,9.65-0.043,15.66,4.296c6.004,4.352,11.641,9.7,16.91,16.077
                        			c5.262,6.377,11.59,13.531,18.984,21.481c7.387,7.943,13.855,13.855,19.4,17.735l5.545,3.336
                        			c3.695,2.209,8.494,4.241,14.412,6.096c5.912,1.842,11.09,2.307,15.52,1.383l70.955-1.114c7.02,0,12.473-1.15,16.354-3.464
                        			c3.879-2.295,6.188-4.853,6.928-7.619c0.734-2.772,0.783-5.899,0.141-9.419c-0.648-3.507-1.297-5.955-1.939-7.338
                        			c-0.648-1.383-1.25-2.546-1.807-3.464c-9.24-16.628-26.885-37.051-52.938-61.255l-0.557-0.551l-0.275-0.281l-0.275-0.27H473.4
                        			c-11.83-11.273-19.309-18.85-22.449-22.736c-5.727-7.38-7.025-14.865-3.879-22.441
                        			C449.275,271.874,457.586,259.769,471.998,241.286z" />
                        	    </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="left-tmp"></div>
    <div id="close-body" onclick="closeBodyClicked()"></div>
    <div class="site-body">
        @RenderSection("angularConfig", false)
        @RenderBody()
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="#">About</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Partners</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Volunteers</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Mission</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="#">Helping</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Orphans</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">At-risk families</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Social adaptation</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Limited abilities</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Camps</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="col-xs-2 col-xs-offset-2">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="#">News</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="#">Gallery</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="/en/home/contacts">Contacts</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="#">Support</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="col-xs-2 col-xs-offset-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="intro-text gray">Contacts</span>
                                </div>
                                <div class="col-xs-12 indent">
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="semibold-text gray">5 Sortuvalna, Kyiv city, 02081</span><br />
                                    @*<span class="semibold-text gray">Центр Маяк</span>*@
                                </div>
                                <div class="col-xs-12 indent">
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-xs-12">
                                        <span class="semibold-text gray">Горячая линия:</span><br />
                                        <span class="semibold-text gray">044&nbsp;265&nbsp;45&nbsp;78</span>
                                    </div>
                                    <div class="col-xs-12 indent">
                                        <br />
                                    </div>*@
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="semibold-text gray">opendoorsfund@gmail.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 indent">
                    <br />
                </div>
                <div class="col-xs-12 indent">
                    <br />
                </div>
                <div class="col-xs-4 col-xs-offset-2">
                    <span class="semibold-text gray">Open Doors</span>
                </div>
                <div class="col-xs-offset-3 col-xs-2">
                    <span class="semibold-text gray">Made by </span>
                    <a class="intro-text green" href="http://urbanf.org">UF</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var key = false;
        document.onreadystatechange = function (e) {
            if (document.readyState == "interactive") {
                var all = document.getElementsByTagName("*");
                for (var i = 0, max = all.length; i < max; i++) {
                    check_element(all[i]);
                }
            }
        }
        var loadWidth = 0;
        var loadComplete = false;
        function check_element(ele) {
            var all = document.getElementsByTagName("*");
            var percantage = 100 / all.length;
            var progress = document.getElementById("progress_width");
            //===============================
            var prog_width = percantage + Number(progress.value);
            if (prog_width > 100.1)
                prog_width -= 100;
            progress.value = prog_width;

            document.getElementById("bar1").style.width = prog_width+"%";
                if (Math.round(prog_width) == "100")
                    LoadComplete();
        }
        function LoadComplete() {
                var prog = document.getElementById("prog");
                setTimeout(function () {
                    prog.classList.add("preloadFadeOut");
                    document.getElementsByTagName("body")[0].classList.remove("hide-scroll");
                    prog.classList.add("hidden");
                    if (typeof CarouselOnLoad === 'function' && !key) {
                        CarouselOnLoad();
                        OnPageLoaded();
                        key = true;
                    }
                }, 1000);
        }
    </script>
    @RenderSection("scripts", false)
</body>
</html>

