<!DOCTYPE html>
<html class="html-size">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link type="text/css" href="~/Content/preloader.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @RenderSection("styles",false)
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>

    <div class="preloader animate" id="prog">
        <div class='progress-preload' id="progress_div">
            <div class='bar' id='bar1'></div>
            <div class='percent' id='percent1'></div>
        </div>
        <input type="hidden" id="progress_width" value="0">
    </div>
    <script type="text/javascript">
        document.onreadystatechange = function (e) {
            if (document.readyState == "interactive") {
                var all = document.getElementsByTagName("*");
                for (var i = 0, max = all.length; i < max; i++) {
                    check_element(all[i]);
                }
            }
        }

        function check_element(ele) {
            var all = document.getElementsByTagName("*");
            var percantage = 100 / all.length;

            if ($(ele).on()) {
                var prog_width = percantage + Number(document.getElementById("progress_width").value);
                if (prog_width > 100.1) {
                    prog_width -= 100;
                }
                document.getElementById("progress_width").value = prog_width;
                $("#bar1").animate({ width: prog_width + "%" }, 10, function () {
                    //var persentages = Math.round(parseInt(document.getElementById("bar1").style.width));
                    if (Math.round(prog_width) == "100") {
                        //console.log("100%");
                        $(".progress-preload").fadeOut("slow");
                        var prog = $("#prog");
                        setTimeout(function () {
                            //prog.css({ 'display': 'none' });
                            prog.addClass("preloadFadeOut");
                            setTimeout(function () {
                                prog.addClass("hidden");
                                //prog.css({ 'display': 'none' });
                            }, 500);
                        }, 1500);
                    }
                    else {
                       
                        //console.log(Math.round(prog_width));
                    }
                });
            }

            else {
                set_ele(ele);
            }
        }
    </script>
    <div class="animated header">
        <div class="container header-buttons-container">
            <div class="row">
                <div class="header-button-div">
                    <a class="header-button" id="about-link" href="#">О ФОНДЕ</a>
                    <div class="header-button-line" id="about-line"></div>
                </div>
                
                    <div class="drpdown">
                    <a href="#" class="header-button dropdown-button" >МЫ ПОМОГАЕМ</a>
                    <span id="dropdown-arrow"></span>
                        <div class="drpdown-menu row">
                            <div class="col-xs-12 indent-dropdown"></div>
                            <div class="col-xs-12 indent-dropdown"></div>
                            <div class="col-xs-10 col-xs-offset-2">
                                <span class="drpdown-link">
                                    <a class="semibold-text green" href="#">&nbsp;&nbsp;Детям сиротам</a>
                                </span>
                            </div>
                            <div class="col-xs-12 indent-dropdown"></div>
                            <div class="col-xs-12">
                                <span class="drpdown-link">
                                    <a class="semibold-text green" href="#">&nbsp;&nbsp;Кризисным семьям</a>
                                </span>
                            </div>
                            <div class="col-xs-12 indent-dropdown"></div>
                            <div class="col-xs-12">
                                <span class="drpdown-link">
                                    <a class="semibold-text green" href="#">&nbsp;&nbsp;Социальная адаптация</a>
                                </span>
                            </div>
                            <div class="col-xs-12 indent-dropdown"></div>
                            <div class="col-xs-12">
                                <span class="drpdown-link">
                                    <a class="semibold-text green" href="#">&nbsp;&nbsp;Инвалидам</a>
                                </span>
                            </div>
                            <div class="col-xs-12 indent-dropdown"></div>
                            <div class="col-xs-12">
                                <span class="drpdown-link">
                                    <a class="semibold-text green" href="#">&nbsp;&nbsp;Лагеря</a>
                                </span>
                            </div>
                        </div>
                </div>
                <div class="header-button-div">
                    <a class="header-button" href="#">НОВОСТИ</a>
                    <div class="header-button-line"></div>
                </div>
                <div class="header-button-div">
                    <a class="header-button" href="#">ГАЛЕРЕЯ</a>
                    <div class="header-button-line"></div>
                </div>
                <div class="header-button-div">
                    <a class="header-button" href="#">КОНТАКТЫ</a>
                    <div class="header-button-line"></div>
                </div>
                <div class="header-button-div">
                    <a class="share-button" href="#">ПОДДЕРЖАТЬ</a>
                </div>
                <div class="header-button-lang">
                    <div class="drop-down">
                        <input class="drop-down-toggle" type="text">
                        <div class="drop-down-text">рус</div>
                        <ul class="drop-down-content header-lang">
                            <li><a href="#">eng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left-panel">
        <div class="left-panel-language">
            <div class="drop-down">
                <input class="drop-down-toggle" type="text">
                <div class="drop-down-text">рус</div>
                <ul class="drop-down-content">
                    <li><a href="#">eng</a></li>
                </ul>
            </div>
        </div>
        <div class="left-panel-menu">
            
            <div class="positionize-left-memu">
                <div class="col-xs-12">
                    <a class="intro-menu-text green" href="#">О ФОНДЕ</a>
                </div>
                <div class="indent-menu"></div>
                <div class="col-xs-12 column">
                    <div class="drop-down-left">
                        <input class="drop-down-toggle-left" onclick="ShowDropDown()" type="text">
                        <div class="drop-down-text-left" onclick="ShowDropDown()">МЫ ПОМОГАЕМ</div>
                        <span id="dropdown-arrow-left"></span>
                        <ul class="drop-down-content-left dropup-height">
                            <li><a class="left-panel-link" href="#">Детям сиротам</a></li>
                            <li><a class="left-panel-link" href="#">Кризисным семьям</a></li>
                            <li><a class="left-panel-link" href="#">Социальная адаптация</a></li>
                            <li><a class="left-panel-link" href="#">Инвалидам</a></li>
                            <li><a class="left-panel-link" href="#">Лагеря</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="indent-menu-for-dropdown" id="indent-menu-for-dropdown"></div>
                <div class="col-xs-12">
                    <a class="intro-menu-text green" href="#">НОВОСТИ</a>
                </div>
                <div class="indent-menu"></div>
                <div class="col-xs-12">
                    <a class="intro-menu-text green" href="#">ГАЛЕРЕЯ</a>
                </div>
                <div class="indent-menu"></div>
                <div class="col-xs-12">
                    <a class="intro-menu-text green" href="#">КОНТАКТЫ</a>
                </div>
                <div class="indent-menu"></div>
                <div class="col-xs-12">
                    <a class="intro-menu-text green" href="#">ПОДДЕРЖАТЬ</a>
                </div>
            </div>
        </div>
        <div class="left-panel-right-menu">
            <div class="spinner-master2">
                <input type="checkbox" id="spinner-form2" />
                <label for="spinner-form2" class="spinner-spin2 spinner animated hide-gamburger">
                    <div class="spinner2 diagonal part-1"></div>
                    <div class="spinner2 horizontal"></div>
                    <div class="spinner2 diagonal part-2"></div>
                </label>
            </div>
            <div class="logo-div">
                <a href="/ru/Home/Index">
                    <img src="~/Content/Images/logo.png" id="logo" />
                </a>
            </div>
        </div>
    </div>
    <div class="left-tmp"></div>
    <div id="close-body" onclick="closeBodyClicked()"></div>
    <div class="site-body">
        
        
        @Scripts.Render("~/bundles/angularRu")
        @RenderBody()
        
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="#">О ФОНДЕ</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Партнеры</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Волонтеры</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Миссия</a>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="#">МЫ ПОМОГАЕМ</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Детям сиротам</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Кризисным семьям</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Социальная адаптация</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Инвалидам</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="semibold-text green" href="#">Лагеря</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-xs-offset-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="#">НОВОСТИ</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="#">ГАЛЕРЕЯ</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="#">КОНТАКТЫ</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="intro-text green" href="#">ПОДДЕРЖКА</a>
                            </div>
                            <div class="col-xs-12 indent">
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="col-xs-2 col-xs-offset-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="intro-text gray" href="#">КОНТАКТЫ</span>
                                </div>
                                <div class="col-xs-12 indent">
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="semibold-text gray">Горячая линия:</span><br />
                                    <span class="semibold-text gray">044&nbsp;265&nbsp;45&nbsp;78</span>
                                </div>
                                <div class="col-xs-12 indent">
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="semibold-text gray">г.Киев, ул.Радунская, 75</span><br />
                                    <span class="semibold-text gray">Центр Маяк</span>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 indent">
                    <br />
                </div>
                <div class="col-xs-12 indent">
                    <br />
                </div>
                <div class="col-xs-4 col-xs-offset-2">
                    <span class="semibold-text gray">МБФ "Открытые двери"</span>
                </div>
                <div class="col-xs-offset-3 col-xs-2">
                    <span class="semibold-text gray">Made by </span>
                    <a class="intro-text green" href="#">UF</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
@Scripts.Render("~/bundles/modernizr")
@RenderSection("scripts",false)
<script type="text/javascript" src="~/Scripts/site.js"></script>
